*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
html{
    font-family: Arial, Helvetica, sans-serif;
}
#header {
    position: fixed;
    top:0;
    left: 0;
    right:0;
    height: 46px;
    background-color: black;
    z-index: 10;
}
#nav > li{
    display: inline-block;
    position: relative;
}
#nav .subnav {
    display: none;
    color: black;
    position: absolute;
    background-color: white;
    box-shadow: 5px 10px 10px rgba(0,0,0,0.5); /* Initial state with transparent shadow */
    list-style-type: none;
}
#nav li:hover .subnav{
    display: block;
}
#nav >li, #nav .subnav,#header .search-btn{
     /* Initial state with transparent shadow */
    transition: box-shadow 0.5s ease-out; /* Transition for the box-shadow */
}
#nav > li:hover, #nav .subnav:hover {
    box-shadow: 10px 10px 10px rgb(0, 255, 255,1); /* Final state with the desired shadow */
}
#nav .subnav li a{
    text-decoration: none;
    width: 100%;
    padding: 10px 20px; 
    display: inline-block;    
}
#nav > li > a{
    color:white;
    text-decoration: none;
    line-height: 46px;
    padding: 0 24px;
    display: inline-block;
    text-transform: uppercase;
}
#nav li:hover > a{
    color:black;
    background-color: #ccc;
    display: inline-block;
}
#header .search-btn{
    position: absolute;
    color: white;
    height: 46px;
    line-height: 46px;
    padding: 0 24px;
    top:0;
    right:0;
    cursor: pointer;
}
#header .search-btn:hover{
    color:black;
    background-color: #ccc;
    box-shadow: 10px 10px 10px aqua;
} 
/* {
    margin-top: 46px;
    position: relative;
    width: 100%;
    height: 95vh;
    background-color: black;
    /* height: 590px;
}*/
.MySlide{
   width: 100%;
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
   position: relative;
   top:0;
   bottom:0;
   height: 100vh;

   /* filter: brightness(40%); */
}
.display_1{
    background-image: url('https://instagram.fhan4-1.fna.fbcdn.net/v/t39.30808-6/428603283_1815525272296541_3505248043790703931_n.jpg?stp=c0.64.1536.1920a_dst-jpg_e35&efg=eyJ2ZW5jb2RlX3RhZyI6ImltYWdlX3VybGdlbi4xNTM2eDIwNDguc2RyLmYzMDgwOCJ9&_nc_ht=instagram.fhan4-1.fna.fbcdn.net&_nc_cat=105&_nc_ohc=GFh6p41GUGYQ7kNvgExyiBC&edm=AEhyXUkAAAAA&ccb=7-5&ig_cache_key=MzMwNzAyNzg5NzU5OTMzNTUwOA%3D%3D.2-ccb7-5&oh=00_AYB2VAP-cvYME1hwuN0NST7e8t6oUMoxRZ9_jw55u61h8Q&oe=66A68AC8&_nc_sid=8f1549');
}
.display_2{
    background-image: url('https://instagram.fhan4-1.fna.fbcdn.net/v/t39.30808-6/428689567_1815525325629869_6215048323963685472_n.jpg?stp=c0.64.1536.1920a_dst-jpg_e35&efg=eyJ2ZW5jb2RlX3RhZyI6ImltYWdlX3VybGdlbi4xNTM2eDIwNDguc2RyLmYzMDgwOCJ9&_nc_ht=instagram.fhan4-1.fna.fbcdn.net&_nc_cat=105&_nc_ohc=fw446HGvfGEQ7kNvgH96NX3&edm=AEhyXUkAAAAA&ccb=7-5&ig_cache_key=MzMwNzAyNzg5NjYyNjI5ODI3Nw%3D%3D.2-ccb7-5&oh=00_AYC1nRxbzXeXxzYdsH_a4fwCtC5K1_MczibNClhBnjbf4w&oe=66A677DB&_nc_sid=8f1549');
}
.display_3{
    background-image: url('https://instagram.fhan4-4.fna.fbcdn.net/v/t39.30808-6/428701570_1815525422296526_3978121742555494654_n.jpg?stp=c0.64.1536.1920a_dst-jpg_e35&efg=eyJ2ZW5jb2RlX3RhZyI6ImltYWdlX3VybGdlbi4xNTM2eDIwNDguc2RyLmYzMDgwOCJ9&_nc_ht=instagram.fhan4-4.fna.fbcdn.net&_nc_cat=102&_nc_ohc=NPdlD1XwohEQ7kNvgHXJwnp&gid=a101489a600640078ec9b8f97fe19fc6&edm=AEhyXUkAAAAA&ccb=7-5&ig_cache_key=MzMwNzAyNzg5NjQ5MTkyODMwMg%3D%3D.2-ccb7-5&oh=00_AYD8W2hDgI3m3KdWfUDFo_zDPPJg06esgdR_uQ9mkTuF3w&oe=66A67518&_nc_sid=8f1549');
}
.display_4{
    background-image: url('https://scontent.cdninstagram.com/v/t39.30808-6/428705504_1815525498963185_8852874387206938442_n.jpg?stp=c0.71.1525.1906a_dst-jpg_e35&efg=eyJ2ZW5jb2RlX3RhZyI6ImltYWdlX3VybGdlbi4xNTI1eDIwNDguc2RyLmYzMDgwOCJ9&_nc_ht=scontent.cdninstagram.com&_nc_cat=105&_nc_ohc=jE2lq9qQlAoQ7kNvgHCYRT8&gid=dc7f346dea0245079d8e3cda73c86bf7&edm=APs17CUAAAAA&ccb=7-5&ig_cache_key=MzMwNzAyNzg5NjgyNzQ2MTYyNQ%3D%3D.2-ccb7-5&oh=00_AYBjG6HGJyK_GqsfQ__LrekRLG_dpfxopUPGgtRVR5hWZQ&oe=66A3969E&_nc_sid=10d13b');
}
.MySlide .brightness_cover{
    background-color: rgba(0,0,0,0.5);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right:0;
}
.MySlide .brightness_cover .text_content{
    color: white;
    color: white;
    text-align: center;
    padding-top: 76vh;
} 
.MySlide .brightness_cover p{
     /* font-size: 24px; */
     padding-top: 12px;
     padding-bottom: 12px;
     /* position: absolute; */
     height: 50%;
}
.MySlide .brightness_cover  h1{
    padding-top: 10px;
    padding-bottom: 10px;
    /* font-size: 36px; */
    /* height: 50%; */
    /* size: landscape; */
    /* text-align: center; */
}
#content {
    position: relative;
}
#content .sec_1{
    background-color: white;
    color:black;
}
#content .content_section{
    /* position: absolute; */
    text-align: center;
    width: 100%;
    padding-top: 100px;
    padding-bottom: 100px;
    /* bottom:0; */
}
#content .sec_1 .message, #content .content_section .title, #content .content_section .sub_title{
    padding-top: 20px;
    padding-bottom: 20px;
}
#content .content_section .sub_title{
    color: gray;
    font-style: italic;
}
#content .content_section .title{
    font-weight: 100;
}
#content .sec_1 .message{
    text-align: justify;
    padding-right: 20%;
    padding-left: 20%;
}
#content .sec_2{
    background-color: black;
    color:white;
    /* top:100%; */
}
