*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
html{
    font-family: Arial, Helvetica, sans-serif;
}
#header {
    position: fixed;
    top:0;
    left: 0;
    right:0;
    height: 46px;
    background-color: black;
    z-index: 1;
}
#nav > li{
    display: inline-block;
    position: relative;
}
#nav .subnav {
    display: none;
    color: black;
    position: absolute;
    background-color: white;
    box-shadow: 5px 10px 10px rgba(0,0,0,0.5); /* Initial state with transparent shadow */
    list-style-type: none;
}
#nav li:hover .subnav{
    display: block;
}
#content .sec_3 .contact_box_cell .message .submit_btn,
#nav >li, #nav .subnav,#header .search-btn,
#content .sec_2 .places .place,
#content .Modal_img_cell .close:hover,#footer a{
     /* Initial state with transparent shadow */
    transition: box-shadow 0.5s ease-out; /* Transition for the box-shadow */
}
#content .sec_3 .contact_box_cell .message .submit_btn:hover,
#content .sec_2 .places .place:hover,
#header .search-btn:hover,#nav > li:hover, #nav .subnav:hover,
#content .Modal_img_cell .close:hover{
    box-shadow: 10px 10px 10px rgb(0, 255, 255,1); /* Final state with the desired shadow */
}
#nav .subnav li a{
    text-decoration: none;
    width: 100%;
    padding: 10px 20px; 
    display: inline-block;    
    color: black;
}
#nav > li > a{
    color:white;
    text-decoration: none;
    line-height: 46px;
    padding: 0 24px;
    display: inline-block;
    text-transform: uppercase;
}
#nav li:hover > a{
    display: inline-block;
}
#header .search-btn{
    position: absolute;
    color: white;
    height: 46px;
    line-height: 46px;
    padding: 0 24px;
    top:0;
    right:0;
    cursor: pointer;
}
#content .sec_3 .contact_box_cell .message .submit_btn:hover,
#header .search-btn:hover,
#nav li:hover > a,
#content .Modal_img_cell .close:hover{
    color:black;
    background-color: #ccc;
} 
/* {
    margin-top: 46px;
    position: relative;
    width: 100%;
    height: 95vh;
    background-color: black;
    /* height: 590px;
}*/
.MySlide{
   width: 100%;
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
   position: relative;
   top:0;
   bottom:0;
   height: 100vh;

   /* filter: brightness(40%); */
}
.display_1{
    background-image: url('https://raw.githubusercontent.com/GalaxyKnight08/Linh-Linh/main/assets/img/Linh_Linh_1.jpg');
}
.display_2{
    background-image: url('https://raw.githubusercontent.com/GalaxyKnight08/Linh-Linh/main/assets/img/Linh_Linh_2.jpg');
}
.display_3{
    background-image: url('https://raw.githubusercontent.com/GalaxyKnight08/Linh-Linh/main/assets/img/Linh_Linh_3.jpg');
}
.display_4{
    background-image: url('https://raw.githubusercontent.com/GalaxyKnight08/Linh-Linh/main/assets/img/Linh_Linh_4.jpg');
}
.MySlide .brightness_cover{
    background-color: rgba(0,0,0,0.5);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right:0;
}
.MySlide .brightness_cover .text_content{
    color: white;
    color: white;
    text-align: center;
    padding-top: 76vh;
} 
.MySlide .brightness_cover p{
     /* font-size: 24px; */
     padding-top: 12px;
     padding-bottom: 12px;
     /* position: absolute; */
     height: 50%;
}
.MySlide .brightness_cover  h1{
    padding-top: 10px;
    padding-bottom: 10px;
    /* font-size: 36px; */
    /* height: 50%; */
    /* size: landscape; */
    /* text-align: center; */
}
#content {
    position: relative;
}
#content .sec_1, #content .sec_3 {
    background-color: white;
    color:black;
}
#content .content_section{
    /* position: absolute; */
    text-align: center;
    width: 100%;
    padding-top: 100px;
    padding-bottom: 100px;
    /* bottom:0; */
}
#content .sec_1 .message, #content .content_section .title, #content .content_section .sub_title{
    padding-top: 20px;
    padding-bottom: 20px;
}
#content .content_section .sub_title{
    color: gray;
    font-style: italic;
}
#content .content_section .title{
    font-weight: 100;
}
#content .sec_1 .message{
    text-align: justify;
    padding-right: 12%;
    padding-left: 12%;
}
#content .sec_2{
    background-color: black;
    color:white;
    /* top:100%; */
}
#content .sec_2 .places{
    padding-left: 12px;
    padding-right: 12px;
}
#content .sec_2 .places .place{
    display: inline-block;
    background-color: black;
    color: white;
    padding: 0px 0px 10px 0px;
    margin: 16px;
    width: 300px;
}
#content .sec_2 .places .time{
    color: gray;
    font-weight: 100;
}
#content .sec_2 .places img{
    width: 100%;
}
#content .sec_2 .places img:hover {
    opacity: 0.6;
    cursor:pointer;
}
#content .sec_2 .places .place .place_title,#content .sec_2 .places .place .time, #content .sec_2 .places .place .place_description {
    padding:12px 10px;
    text-align: left;
}
#content .Modal_img_cell{
    position: fixed;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    display: none;
}
#content .Modal_img_cell img{
    display: block;
    width: 80%;
    /* margin-left: 21%; */
    /* height: 70%; */
    margin: auto;
    max-width: 700px;
    padding-top: 10vh;
}
#content .Modal_img_cell .close{
    font-size: 40px;
    position: absolute;
    color: white;
    right: 0px;
    top: 0px;
    cursor: pointer;
    transition: 0.3s;
    padding:0px 20px;
}

#content .sec_3 .contact_box_cell .contact_box{
    display: inline-block;
    width: 300px;
    padding-top: 20px;
    padding-bottom: 20px;
}
#content .sec_3 .contact_box_cell .information{
    text-align: left;
}
#content .sec_3 .contact_box_cell .information .info{
    font-weight: 100;
}
#content .sec_3 .contact_box_cell .information .info i{
    font-size: 16px;
}
#content .sec_3 .contact_box_cell .message li input{
    font: inherit;
    /* border-block-color: aqua; */
    border: 1px;
    border-style: solid;
    border-color: gray;
    padding: 10px;
}
#content .sec_3 .contact_box_cell .message .contact_message{
    list-style: none;
}
#content .sec_3 .contact_box_cell .message .contact_message li textarea
{
    width: 100%;
    display: block;
    overflow: hidden;
    resize: none;
}

#content .sec_3 .contact_box_cell
{
    padding-top: 20px;
}
#content .sec_3 .contact_box_cell .message .contact_message .li_name,
#content .sec_3 .contact_box_cell .message .contact_message .li_email
{
    display: inline-block;
    width: 50%;
    float: left;
    padding-bottom: 8px;
}
#content .sec_3 .contact_box_cell .message .submit_btn{
    color: white;
    background-color: black;
    margin-top: 16px;
    float: right;
    padding: 10px;
    cursor:pointer;
    border: 0;
}
#footer{
    text-align: center;
    padding-top: 84px;
    padding-bottom: 84px;
    background-color: black;
}
#footer a{
    font-size: 28px;
    color: white;
}
#footer h2{
    padding-top: 12px;
    font-weight: 100;
    font-size: 16px;
    color: white;
}
#footer a:hover{
    color: aqua;
}
.sunset{
    width: 100%;
    display: block;
}
